body{
    background-color:#054f77;;
    align-items: center;
    padding: 0px;



}

h1{
    color: aliceblue;

}

p{
    color: aliceblue;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

img{
    width: 50px;
}

.botaodificuldade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Painelcentral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    padding: 120px;
    background-color: #145e87;

}

button{
    border: 2px solid black;
    border-radius: 12px;
    width: 230px;
    margin: 10px;
    height: 32px;
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
    

}

.botaodificuldade input[type="radio"] {
  display: none;
}

.botaodificuldade label {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  width: 80%;
  height: 80%;
  text-align: center;
  

}

#label-facil {
  background-color: green;
}

#label-dificil {
  background-color: red;
}

a{
  text-decoration: none;
  color: black;
}