
body{
    background-color:#054f77;;
    align-items: center;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

h1{
    color: aliceblue;
    
}


img{
    width: 50px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}


.blocoperguntas{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    padding: 12px;
    width: 60%;
    height: 80%;
    background-color: #145e87;
    padding-bottom: 32px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    

}

#alternativa{
    width: 240px;
    height: 50px;
    margin: 7px;
    border: 2px solid black;
    border-radius: 12px;
}

#enviar1{

    border: 2px solid black;
    border-radius: 12px;
    
    
}

.botaoenviar{

    padding: 20px;
    cursor: pointer;
    

}



/* ____________________________________________________________________________________________________________________________________ */



.buttons input[type="radio"] {
  display: none;
}

.buttons label {
  display: inline-block;
  background-color: white;
  padding: 12px 24px;
  margin: 6px;
  border-radius: 12px;
  border: 2px solid black;
  cursor: pointer;
  width: 60%;
  height: 80%;
  text-align: center;

}

.buttons input[type="radio"]:checked + label {
  background-color: #0f88c3;
  color: white;
  border-color: #0f88c3;
}






/* .buttons label.correta {
  background-color: green;
  color: white;
} */
